version: '3.8'

services:
  web:
    build: ./web
    ports:
      - "8080:3000"
    restart: always
    environment:
      - VITE_POCKETBASE_URL=http://localhost:8090
    depends_on:
      - pocketbase

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/pb_data
      - ./pb_public:/pb_public
      - ./pb_hooks:/pb_hooks
    restart: always
    command:
      - --http=0.0.0.0:8090
